<h1>for-each works!</h1>
<h3>Welcome To My App</h3>
<style>
     
</style>
<div>
    <ul *ngFor= "let a of Actress">
       <li> <h1 style="background-color: rgb(70, 201, 135) "><i>{{a}}</i></h1></li>
    </ul>

</div> 


<div>
    <ul *ngFor= "let d of data">
        <li><h1 style="background-color: aqua"><i>{{d.name}}</i></h1></li>
    </ul>
</div>

<div>
    <img src="assets/20433611.jpg" alt="image" style="width: 600px;height: 400px;">
</div>

<div>
    <ul *ngFor= "let p of proc">
        <h1><i>{{p.name}} <img src="assets/OIP.jpg" alt="image" style="width: 600px;height: 400px;"></i></h1>
       
    </ul>
</div>

