
<div>
  <app-for-each></app-for-each> 
  <my-com></my-com>
  


</div>
<div>{{title}}</div>
<div>
  <app-if-example></app-if-example>
</div>
<div>
  <h1 [color]="'green'">My Color</h1> 
  <h3 [color]="'Orange'">Next Color</h3> 
  
</div>

<div>
  <app-pipeexample></app-pipeexample>
</div>

<div>
  <app-employee-details></app-employee-details>
</div>
 
<div>
  <app-post-example></app-post-example>
</div>

<div>
  <app-my-form></app-my-form>
</div>

<div>
  <app-my-form-reactive></app-my-form-reactive>
</div>

<div>
  <NewComp></NewComp>
</div>

<div style=" text-align: center">
  <a routerLink="Reactive">ReactiveForm</a>
  <a routerLink="Template">Template <Form></Form></a>
</div>
  <div>
    <app-user-details></app-user-details>
  </div>

  <div>
    <app-user-post></app-user-post>
  </div>
<router-outlet></router-outlet>

